body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  :root {
    --accent-color: rgb(204, 0, 0);
    --lightest-gray: rgb(244, 244, 244);
    --light-gray: rgb(218, 218, 218);
    --medium-gray: rgb(96, 96, 96);
    --dark-gray: rgb(13, 13, 13);
    --color1: #185268;
    --color2: #00ADEA;
    --header-height: 50px;
    --animation-duration: 150ms;
    --animation-timing-curve: ease-in-out;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: sticky; */
    top: 0;
    background-color: var(--color2);
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .4);
    padding: 0 .5rem;
    height: var(--header-height);
    /* flex-direction: row; */
  }
  
  .menu-icon {
    width: 25px;
    height: 25px;
    fill: var(--medium-gray);
    cursor: pointer;
  }
  
  .menu-icon:hover {
    fill: var(--dark-gray);
  }
  
  .sidebar {
    flex-shrink: 0;
    overflow: hidden;
    width: 75px;
    border-right: 1px solid var(--light-gray);
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--header-height));
    padding-top: 1rem;
    align-items: center;
    justify-content: stretch;
    transition: width var(--animation-duration) var(--animation-timing-curve);
    position: sticky;
    left: 0;
    top: var(--header-height);
    background-color: var(--color1);
  }
  
  .sidebar .hidden-sidebar {
    opacity: 0;
    width: 0;
    transition: opacity var(--animation-duration) var(--animation-timing-curve);
  }
  
  .sidebar.open .hidden-sidebar {
    width: 100%;
    height: auto;
    opacity: 1;
  }
  
  
  .sidebar .channel-logo {
    display: block;
    width: 30px;
    height: 30px;
    transition: var(--animation-duration) var(--animation-timing-curve);
  }
  
  /* .sidebar.open .channel-logo {
    width: 90px;
    height: 90px;
  }
  
  .sidebar .channel-logo > img {
    width: 100%;
    height: 100%;
  } */
  
  .middle-sidebar {
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
    margin: 1rem 0;
  }
  
  .top-sidebar,
  .middle-sidebar,
  .bottom-sidebar {
    width: 100%;
  }

  
  .container {
    display: flex;
  }
  

  .sidebar-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
  }
  
  .sidebar.open .sidebar-link {
    /* justify-content: flex-start; */
    justify-content: center;
  }
  
  .sidebar-icon {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 3px;
  }



  .sidebar-list .hidden-sidebar {
    margin-left: 1.5rem;
    white-space: nowrap;
  }

.top-sidebar .sidebar-link {
  display: flex;
  width: auto;
  padding: .5rem 0;
  color: var(--lightest-gray);
  text-decoration: none;
  align-items: center;
  padding-left: 25px;
  opacity: 50%;
}

.middle-sidebar .sidebar-link {
    display: flex;
    width: auto;
    padding: .5rem 0;
    color: var(--lightest-gray);
    text-decoration: none;
    align-items: center;
    padding-left: 25px;
    opacity: 50%;
  }

.bottom-sidebar .sidebar-link {
    display: flex;
    width: auto;
    padding: .5rem 0;
    color: var(--lightest-gray);
    text-decoration: none;
    align-items: center;
    opacity: 50%;
    justify-content: center;
  }
   
  .sidebar-link:hover {
    opacity: 100%;
  }

  .sidebar-list-item {
    position: relative;
    width: 100%;
    fill: var(--light-gray);
  }
  
  .sidebar-list-item .active {
    color: var(--color2);
    opacity: 100%;
  }


  /* .sidebar-list-item .active::before {
    opacity: 100%;
    color: var(--lightest-gray);  
    background-color: var(--color2); 
  } */

  /* .sidebar-list-item:hover {
    background-color: var(--lightest-gray);
  } */
  
  /* .sidebar-list-item.active::before {
    content: "";
    background-color: var(--accent-color);
    height: 100%;
    left: 0;
    width: 3px;
    position: absolute;
  } */
  

  .sidebar.open {
    width: 200px;
  }
  
  .your-channel {
    color: var(--dark-gray);
    font-size: .75rem;
    font-weight: bold;
    margin-bottom: .15rem;
    margin-top: .5rem;
  }
  
  .channel-name {
    color: var(--medium-gray);
    font-size: .75rem;
  }
  
  .sidebar .top-sidebar {
    /* height: 30px; */
    /* margin-bottom: 10px; */
    transition: height var(--animation-duration) var(--animation-timing-curve);
  }
  
  .sidebar.open .top-sidebar {
    height: 45px;
  }
  
  .sidebar .top-sidebar .hidden-sidebar {
    /* text-align: center; */
    width: 100%;
  }





/* logo code style */
.container{
    padding: 0px;
    margin: 0px;
}

.left-menu {
    margin: 0em 3.5em;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.left-menu .menu-logo-item {
    width: 30px;
    height: 30px;
}

.right-menu {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;    
    position: relative;

    /* margin-top: 60px; */    
    /* transform: translateY(30px); */
}

.right-menu .menu-logo-item {
  width: 30px;
  height: 30px;
}

.sidebar-linebreak {
    width: 95%;
    margin: 5px 0px;
    border: 1px solid var(--lightest-gray);
    padding: 0px;
    background-color: var(--lightest-gray);
}

.menu-icon-btn {
  background: none;
  border: none;
  padding: 0px 8px;
  margin-left: 50px;
}

.menu-profile-btn {
  display: flex;
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + .25rem);
  background-color: var(--lightest-gray);
  padding: .5rem;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  opacity: 0;
  
  min-width: none !important;

  transform: translateX(-63px);
  pointer-events: none;
  

  display: flex;
  flex-direction: column;
  gap: .4rem;  
}

.dropdown.active > .menu-profile-btn + .dropdown-menu {
  opacity: 1;
  pointer-events: auto;
}

.dropdown.active > .link,
.link:hover {
  color: var(--color2);
}

.dropdown-menu .link {
  display: flex;
  gap: .5rem;
  align-items: center;
}

.link-icon {
  width: 22px;
  height: 22px;
}

.link {
  background: none;
  border: none;
  text-decoration: none;
  color: #777;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
}


/* MAIN CONTENT STYLE */
.content {
  margin: 1rem;
  width: 100%;
  position: relative;
}

.content-menu {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.content .item-1 {
  width: 60vh;
  height: 65vh;
  /*border: 1px solid #000000;*/
  background-color: #FCFCFC;
  border-radius: 5px;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, .4);
  display: flex;
  flex-direction: column;
}

.content .link-menu {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 36px;
  gap: 1rem;
}

.content li {
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, .4);
  width: 18vh;
  height: 18vh;
}

.btn-link {
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, .4);
  width: 18vh;
  height: 12vh;
  background-color: var(--color2);
}

.header-title {
  margin-top: 1em;
  /*border: 1px solid #000;*/
  background-color: #D4D4D4;
  width: 50%;
  padding: 10px 0px;
}




/* ELEMENT SETUP */

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

