body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fc;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --accent-color: rgb(204, 0, 0);
    --white: rgb(255, 255, 255);
    --lightest-gray: rgb(244, 244, 244);
    --light-gray: rgb(218, 218, 218);
    --normal-gray: rgb(96, 96, 96, 0.9);
    --low-light-gray: rgb(250, 250, 250);
    --medium-gray: rgb(96, 96, 96);
    --dark-gray: rgb(13, 13, 13);
    --color1: #185268;
    --color2: #00ADEA;
    --header-height: 3.125rem;
    --animation-duration: 150ms;
    --animation-timing-curve: ease-in-out;
    --sidebar-width: 199px;
    --index-header-height: 4rem;
}

.index-header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .4);
    background-color: var(--color2);
    color: var(--low-light-gray);
    height: var(--index-header-height);
}

.home-container {
    position: relative;
    transform: translateY(5px);
    /* top: var(--index-header-height); */
}

.main-container {
    position: relative;
    width: 100%;
}

.vertical-line-mark:before {
    content: "";
    width: 40%;
    height: 1px;
    top: 20px;
    background: var(--light-gray);
    transform: translate(-105%, 0%);
    position: absolute;
}

.vertical-line-mark:after {
    /* display: block; */
    content: "";
    width: 40%;
    height: 1px;
    top: 20px;
    background: var(--light-gray);
    transform: translate(5%, 0%);
    position: absolute;
}

.content-position {
    transform: translateY(70px);
    display: flex;
}

.sidebar-menu {
    position: sticky;
    flex-shrink: 0;
    overflow: hidden;
    width: 14rem;
    height: calc(100vh - 70px);
    border-right: 1px solid var(--light-gray);
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    align-items: center;
    justify-content: stretch;
    transition: width var(--animation-duration) var(--animation-timing-curve);
    top: var(--header-height);
    left: 0;
    background-color: var(--color1);
    z-index: 1;
}

.sidebar-menu-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 1em;
    color: white;
    opacity: 80%;
}

.sidebar-menu-items:hover {
    opacity: 100%;
}

.sidebar-icon {
    width: 34px;
    height: 34px;
    filter: saturate(100%) contrast(100%) brightness(100%) invert(90%) sepia(100%) hue-rotate(180deg);
}

.button-style-1 {
    background-color: var(--color2);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
    border: none;
    border-radius: 1vmin;
    cursor: pointer;
}

.button-style-2 {
    width: 100%;
    border: none;
    background-color: transparent;
}

.button-style-3 {
    width: 100%;
    border: none;
    background-color: transparent;
    color: white;
}

.button-style-1:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .4);
}

.text-1 {
    font-weight: bold;
    font-size: 18px;
    color: var(--lightest-gray);
    text-overflow: ellipsis;
}

.attr-link:hover {
    background-color: var(--color1);
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}

.flash-msg-1 {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: var(--color2);
    color: white;
    padding: .5rem 1.5rem;
    border-radius: 0.35rem;
}

.text-none {
    text-decoration: none !important;
}

.g-1 {
    gap: 0.25rem !important;
}

.g-2 {
    gap: 0.5rem !important;
}

.g-3 {
    gap: 1rem !important;
}

.g-4 {
    gap: 1.5rem !important;
}

.g-5 {
    gap: 3rem !important;
}

.text-light-blue {
    color: var(--color2) !important;
}

.text-hard-black {
    color: var(--dark-gray) !important;
}


/* li {
    list-style: none;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0 !important;
}

.border-radius-1 {
    border-radius: 5px !important;
}

.border-shadow-1 {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .4) !important;
}