body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fc;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --accent-color: rgb(204, 0, 0);
    --white: rgb(255, 255, 255);
    --lightest-gray: rgb(244, 244, 244);
    --light-gray: rgb(218, 218, 218);
    --normal-gray: rgb(96, 96, 96, 0.9);
    --low-light-gray: rgb(250, 250, 250);
    --medium-gray: rgb(96, 96, 96);
    --dark-gray: rgb(13, 13, 13);
    --color1: #185268;
    --color2: #00ADEA;
    --header-height: 3.125rem;
    --animation-duration: 150ms;
    --animation-timing-curve: ease-in-out;
    --sidebar-width: 199px;
    --index-header-height: 4rem;
}

.index-header-menu {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .4);
    background-color: var(--color2);
    color: var(--low-light-gray);
    height: var(--index-header-height);
}

.home-container {
    position: relative;
    transform: translateY(5px);
    /* top: var(--index-header-height); */
}

.main-container {
    position: relative;
    width: 100%;
}

.g-1 {
    gap: 0.25rem !important;
}

.g-2 {
    gap: 0.5rem !important;
}

.g-3 {
    gap: 1rem !important;
}

.g-4 {
    gap: 1.5rem !important;
}

.g-5 {
    gap: 3rem !important;
}

.text-light-blue {
    color: var(--color2) !important;
}

.text-hard-black {
    color: var(--dark-gray) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0 !important;
}

.border-radius-1 {
    border-radius: 5px !important;
}

.border-shadow-1 {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .4) !important;
}